<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>ics-connector</servlet-name>
		<servlet-class>de.dhbw.horb.calendar.servlet.ICSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ics-connector</servlet-name>
		<url-pattern>/ics</url-pattern>
	</servlet-mapping>

	<!-- GUI -->
	<servlet>
		<servlet-name>vaadin</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>de.dhbw.horb.calendar.ui.MyApplication</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>vaadin</servlet-name>
		<url-pattern>/ui/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>vaadin</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
</web-app>
